section {
    padding: 60px 0;
}

.zombie {
    border: 1rem 1rem 1rem 1rem red;
}

div.view-resume {
    align-items: center;
    justify-content: center;
    align-content: center;
    align-self: center;
}

h3.skilltech {
    font-size: 20px;
    font-weight: 400;
}