.btn {
    &:focus {
        // text-decoration: $link-hover-decoration;
        text-decoration: none;
    }

    &:hover {
        // color: $body-color;
        text-decoration: if($link-hover-decoration == underline, none, null);
    }
}

.martop {
    margin-top: 40px;
}


$success:       #20c997;



@import '../node_modules/bootstrap/scss/bootstrap.scss';

@import 'customs/homesec';
@import 'customs/mixinstwo';